@model Cast
@{
    string title = ViewBag.Action + " Cast";
    ViewBag.Title = title;
}

<h2>@ViewBag.Title</h2>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Movie.MovieId">Movie</label>
        <select asp-for="Movie.MovieId" class="form-control">
            <option value="">Select A Movie</option>
            @{ foreach (Movie m in ViewBag.Movies)
                {
                    <option value="@m.MovieId">@m.Name</option>
                }
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Actors">Actor 1</label>
        <select asp-for="Actors" class="form-control">
            <option value="">Select An Actor</option>
            @{ foreach (Actor a in ViewBag.Actors)
                {
                    if (Model.Actors.Contains(a))
                    {
                        continue;
                    }
                    else
                    {
                        <option value="@a">@a.Name</option>
                    }
                }
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Actors">Actor 2</label>
        <select asp-for="Actors" class="form-control">
            <option value="">Select An Actor</option>
            @{ foreach (Actor a in ViewBag.Actors)
                {
                    if (Model.Actors.Contains(a))
                    {
                        continue;
                    }
                    else
                    {
                        <option value="@a">@a.Name</option>
                    }
                }
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Actors">Actor 3</label>
        <select asp-for="Actors" class="form-control">
            <option value="">Select An Actor</option>
            @{ foreach (Actor a in ViewBag.Actors)
                {
                    if (Model.Actors.Contains(a))
                    {
                        continue;
                    }
                    else
                    {
                        <option value="@a">@a.Name</option>
                    }
                }
            }
        </select>
    </div>


    <input type="hidden" asp-for="CastId" />


    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="Actor" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>
