
@{
    ViewData["Title"] = "Final Project Home";
}

<h1>Web Server Application Development II Final Project Home</h1>
<h2>Our favorite movies</h2>

<a asp-controller="Movie" asp-action="Add">Add New Movie</a>

<table class="table">
    <thead>
        <tr><th>Name</th><th>Year</th><th>Genre</th><th>Duration</th><th>Description</th><th>Cast</th></tr>
    </thead>
    <tbody>
        @foreach (Movie m in Model) {
        <tr>
            <td>@m.Name</td>
            <td>@m.Year</td>
            <td>@m.Genre</td>
            <td>@m.Duration</td>
            <td>@m.Description</td>
            <td>@m.Cast</td>
            <td>
                <my-link-button action="Edit" controller="Movie" id="@m.MovieId">Edit</my-link-button>
                <my-link-button action="Delete" controller="Class" id="@m.MovieId">Delete</my-link-button>
            </td>
        </tr>
        }
    </tbody>
</table>